<launch>
  <arg name="model" default="$(find telecoV)/urdf/simple_body.urdf"/>
  <arg name="gui" default="true" />
  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <!--  9軸IMUセンサモジュール  -->
  <include file="$(find rt_usb_9axisimu_driver)/launch/rt_usb_9axisimu_driver.launch" />
  <!-- https://github.com/rt-net/raspimouse_ros_examples/blob/master/scripts/direction_control.py -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- Rviz -->
  <arg name="rvizconfig" default="$(find telecoV)/params/rviz/urdf.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find telecoV)/params/rviz/urdf.rviz" required="true" />
</launch>