<?xml version="1.0"?>
<!--
SLAM（gmapping）サンプルのlaunch
起動コマンド： roslaunch telecoV gmapping.launch

created by ©︎niscode
-->

<launch>

  <!-- 引数 -->
  <arg name="rover_type"  default="mega3"  doc="mega3 / outdoor" />
  <arg name="lrf"         default="s2"     doc="s2/ a3" />

  <!-- ROVERとの接続 -->
  <node pkg="rosserial_python" name="serial_node" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ROVER_BOARD" />
    <param name="baud" value="115200" />
  </node>

  <!-- オドメトリの配信ノード -->
  <node pkg="telecoV" type="pub_odom" name="pub_odom" />


  <!-- RPLidar s2 の場合 20220628追記 -->
  <group if="$(eval lrf=='s2')">
    <!-- メガローバーの旋回中心からLRFまでの座標変換の設定 -->
    <group if="$(eval rover_type=='mega3')">
      <!-- メガローバーVer.3.0の場合 -->
      <!-- base_linkから見たLRFの位置を調整する args="x y z y p r parent_node child_node period_in_ms" 20220817追記 -->
      <node pkg="tf" type="static_transform_publisher" name="stp_laser01" args="0 0 0 0 0 0 base_link laser 100" />
      <!-- 第2期teleco用 -->
      <node pkg="tf" type="static_transform_publisher" name="stp_laser02" args="0.208 0 0.090 -4.72 0 0 base_link lrf_link_front 100" />
      <node pkg="tf" type="static_transform_publisher" name="stp_laser03" args="-0.208 0 0.090 4.72 0 0 base_link lrf_link_rear 100"/>
      <!-- 第1期teleco用 -->
      <!-- <node pkg="tf" type="static_transform_publisher" name="stp_laser02" args="0.208 0 0.090 -1.57 0 0 base_link lrf_link_front 100" /> -->
      <!-- <node pkg="tf" type="static_transform_publisher" name="stp_laser03" args="-0.208 0 0.090 1.57 0 0 base_link lrf_link_rear 100"/> -->
    </group>
    <group if="$(eval rover_type=='outdoor')">
      <!-- メガローバーVer.3.0 屋外対応版の場合 -->
      <node pkg="tf" type="static_transform_publisher" name="stp_laser" args="0.208 0 0.090 -1.57 0 0 base_link lrf_link 1" />
    </group>

    <!-- RPLiDARデバイスドライバノード -->
    <node name="Front_LRF"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
      <param name="serial_port"         type="string" value="/dev/Front_LRF"/>
      <param name="serial_baudrate"     type="int"    value="1000000"/>
      <param name="frame_id"            type="string" value="lrf_link_front"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
      <param name="scan_mode"           type="string" value="Standard"/>
      <remap from="scan" to="front_scan"/>
    </node>

    <node name="Rear_LRF"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
      <param name="serial_port"         type="string" value="/dev/Rear_LRF"/>
      <param name="serial_baudrate"     type="int"    value="1000000"/>
      <param name="frame_id"            type="string" value="lrf_link_rear"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
      <param name="scan_mode"           type="string" value="Standard"/>
      <remap from="scan" to="rear_scan"/>
    </node>
  </group>

  <!-- laserscan multi_merger -->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger">
    <param name="destination_frame" value="laser"/>
		<param name="scan_destination_topic" value="/scan"/>
		<param name="laserscan_topics" value ="/front_scan /rear_scan" />
  </node>

  <!-- gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="mapper">
    <param name="maxUrange" value="20.0" type="double" />
    <param name="delta" value="0.05" />
    <param name="xmax" value="30" type="double" />
    <param name="ymax" value="30" type="double" />
    <param name="xmin" value="-30" type="double" />
    <param name="ymin" value="-30" type="double" />
  </node>


  <!-- rviz(視覚化ツール) -->
  <node pkg="rviz" type="rviz" args="-d '$(find telecoV)/params/rviz/gmapping.rviz'" name="visualizer" respawn="true" />
</launch>